{% load static %}
<div class="footer-bottom-area bg-dark-light section-padding-sm" style="background-color: rgba(255, 255, 255, 0.699)">
        <div class="container">
            <div class="row widgets footer-widgets">

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-about">
                        <h5 class="widget-title">About Us</h5>
                        <i class="fa fa-info-circle" style="font-size: 20px"></i>
                        <p>We are a team of designers and developers that create high quality <a href="www.dkstudio.in">Readmore...</a></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quick-links">
                        <h5 class="widget-title">My Account</h5>
                        <ul>
                            <li><a href="#">Sitemap</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Advanced Search</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quick-links">
                        <h5 class="widget-title">Customer Service</h5>
                        <ul>
                            <li><a href="#">Shipping Policy</a></li>
                            <li><a href="#">Compensation First</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <h5 class="widget-title">Contact Us</h5>
                        <ul>
                            <li class="phone">
                                <span class="icon"><i class="fa fa-phone"></i></span>
                                <p><a href="#">+91 9651 959 918</a></p>
                            </li>
                            <li class="fax">
                                <span class="icon"><i class="fa fa-whatsapp"></i></span>
                                <p><a href="#">+91 9651 959 918</a></p>
                            </li>
                            <li class="email">
                                <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                <p><a href="#">shivamtiwarijackie98@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
